@font-face {
    font-family: 'The-Bold-Font';
    src: url('/Recursos/Fuentes/The Bold Font/The_Bold_Font.ttf');
}

@font-face {
    font-family: 'Time-Burner';
    font-weight: bold;
    src: url('/Recursos/Fuentes/Time Burner/timeburnerbold.ttf');
}

@font-face {
    font-family: 'Time-Burner';
    font-weight: normal;
    src: url('/Recursos/Fuentes/Time Burner/timeburnernormal.ttf');
}

@font-face {
    font-family: 'Myriad-Pro';
    font-weight: normal;
    src: url('/Recursos/Fuentes/Myriad Pro/MYRIADPRO-REGULAR.OTF');
}

@font-face {
    font-family: 'Myriad-Pro';
    font-weight: bold;
    src: url('/Recursos/Fuentes/Myriad Pro/MYRIADPRO-BOLD.OTF');
}

@font-face {
    font-family: 'Myriad-Pro';
    font-weight: normal;
    font-style: italic;
    src: url('/Recursos/Fuentes/Myriad Pro/MYRIADPRO-SEMIBOLDIT.OTF');
}

:root {
    --green: #54D6C0;
    --greenHover: #287d6f;
    --purple: #5B65B3;
    --purpleHover: #39417c;
    --red: #C13D3D;
    --yellow: #F4C737;
    --white: #F4F4F4;
    --black: #1B1B1B;

    /* Font */
    --tituloFont: 'The-Bold-Font', sans-serif;
    --subtituloFont: 'Time-Burner', sans-serif;
    --textFont: 'Myriad-Pro', sans-serif;
}

.main_TCN{
    margin-top: 12rem;
}

@media (max-width: 650px) {
    .main_TCN{
        margin-top: 23rem;
    }
}

.TH{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TH__texto{

}

.TH__gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
                        "contrato beneficios" 
                        "CC beneficios";

}

.TH--secContratos{
    grid-area: "contrato";
}

.secContratos--titulo{

}

.secContratos--texto{

}

.TH--secBeneficios{
    grid-area: "beneficios";
}

.secBeneficios__header{

}

.secBeneficios--titulo{

}

.secBeneficios--texto{

}

.TH_secCajaComp{
    grid-area: "CC";
}

.secCajaComp--img{

}

.secCajaComp--texto{

}

.secCajaComp--link{

}




.vacantes{
    z-index: 1;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0;
    gap: 2rem;
}

.vacantes--titulo{
    font-family: var(--tituloFont);
    font-size: 3.2rem;
    margin: 0;
    color: var(--white);
    border-bottom: 4px solid var(--red);
    padding: 0.5rem;
}

.vacantes__gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 7.2rem;
    row-gap: 3rem;
    max-width: 111.8rem;
}

@media (max-width: 970px) {
    .vacantes__gridContainer{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 650px) {
    .vacantes__gridContainer{
        grid-template-columns: 1fr;
    }
}

.v_tarjeta{
    border-radius: 25px;
    border: 5px solid var(--green);
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    gap: 1.5rem;
}

.v_tarjeta:hover{
    cursor: pointer;
    background-color: #3E746B;
}

.v_tarjeta:active{
    background-color: #8AD5C8;
}

.v2{
    border: 5px solid var(--purple);
}

.v2:hover{
    cursor: pointer;
    background-color: #2D356E;
}

.v2:active{
    background-color: #8792E8;
}

.v_tarjeta__cargo{
    text-align: center;
    font-family: var(--subtituloFont);
    color: var(--white);
    font-size: 2.4rem;
    font-weight: bold;
    margin: 0;
}

.v_tarjeta__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info__ubic{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.info__ubic--text{
    font-size: 1.3rem;
    margin: 0;

}

.info__salario{
    font-size: 2rem;
    margin: 0;
}