@font-face {
    font-family: 'The-Bold-Font';
    src: url('/Recursos/Fuentes/The Bold Font/The_Bold_Font.ttf');
}

@font-face {
    font-family: 'Time-Burner';
    font-weight: bold;
    src: url('/Recursos/Fuentes/Time Burner/timeburnerbold.ttf');
}

@font-face {
    font-family: 'Time-Burner';
    font-weight: normal;
    src: url('/Recursos/Fuentes/Time Burner/timeburnernormal.ttf');
}

@font-face {
    font-family: 'Myriad-Pro';
    font-weight: normal;
    src: url('/Recursos/Fuentes/Myriad Pro/MYRIADPRO-REGULAR.OTF');
}

@font-face {
    font-family: 'Myriad-Pro';
    font-weight: bold;
    src: url('/Recursos/Fuentes/Myriad Pro/MYRIADPRO-BOLD.OTF');
}

@font-face {
    font-family: 'Myriad-Pro';
    font-weight: normal;
    font-style: italic;
    src: url('/Recursos/Fuentes/Myriad Pro/MYRIADPRO-SEMIBOLDIT.OTF');
}

:root {
    --green: #54D6C0;
    --greenHover: #287d6f;
    --purple: #5B65B3;
    --purpleHover: #39417c;
    --red: #C13D3D;
    --yellow: #F4C737;
    --white: #F4F4F4;
    --black: #1B1B1B;
    --orange: #F60;

    /* Font */
    --tituloFont: 'The-Bold-Font', sans-serif;
    --subtituloFont: 'Time-Burner', sans-serif;
    --textFont: 'Myriad-Pro', sans-serif;
}

.main_TCN{
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 650px) {
    .main_TCN{
        margin-top: 30rem;
    }
}

.TH{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    max-width: 120.7rem;
}

.TH__texto{
    color: var(--white);
    text-align: justify;
    font-family: var(--textFont);
    font-size: 2rem;
    margin: 3rem 0;
}

.TH__gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
                        "contrato beneficios" 
                        "CC beneficios";
    gap: 3rem;
}

@media (max-width: 916px){
    .TH__gridContainer{
        grid-template-columns: 1fr;
        grid-template-areas: unset;
    }
}


.TH--secContratos{
    grid-area: contrato;
    border-radius: 30px;
    background: var(--yellow);
    padding: 5rem 7rem;
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    justify-content: center;
}

@media (max-width: 916px){
    .TH--secContratos{
        grid-area: unset;
    }
}

.secContratos--titulo{
    color: var(--black);
    text-align: center;
    font-family: var(--subtituloFont);
    font-size: 2.4rem;
    margin: 0;
}

.secContratos--texto{
    color: var(--black);
    text-align: justify;
    font-family: var(--textFont);
    font-size: 2rem;
    margin: 0;
}

.secContratos--texto span{
    font-weight: bold;
}

.TH--secBeneficios{
    grid-area: beneficios;
    border-radius: 3rem;
    border: 4px solid var(--red);
    display: flex;
    flex-direction: column;
    padding: 3.9rem 4.3rem;
    align-items: center;
}

@media (max-width: 916px){
    .TH--secBeneficios{
        grid-area: unset;
    }
}

.secBeneficios__header{
    border-radius: 50px;
    background-color: var(--red);
    width: fit-content;
    padding: 1rem 3rem;
}

.secBeneficios--titulo{
    color: var(--white);
    text-align: center;
    font-family: var(--subtituloFont);
    font-size: 2.4rem;
    margin: 0;
}

.secBeneficios--texto{

}

.secBeneficios--texto p{
    color: var(--white);
    text-align: justify;
    font-family: var(--textFont);
    font-size: 2rem;
    margin-bottom: 0;
}

.secBeneficios--texto ul{
    color: var(--white);
}

.secBeneficios--texto ul li p{
    color: var(--white);
    text-align: justify;
    font-family: var(--textFont);
    font-size: 2rem;
    margin-bottom: 0;
}

.secBeneficios--texto ul li p span{
    font-weight: bold;
}

.TH--secCajaComp{
    grid-area: CC;
    border-radius: 30px;
    border: 4px solid var(--orange);
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 6.1rem;
    padding-top: 4.8rem;
    padding-bottom: 2.5rem;
    justify-content: center; 
}

@media (max-width: 916px){
    .TH--secCajaComp{
        grid-area: unset;
    }
}


.secCajaComp--img{
    width: 100%;
}

.secCajaComp--texto{
    color: var(--black);
    text-align: justify;
    font-family: var(--textFont);
    font-size: 2rem;
}

.secCajaComp--texto span{
    font-weight: bold;
}

.link--container{
    position: relative;
    width: 100%;
    align-items: end;
    justify-content: end;
}

.secCajaComp--link{
    color: var(--orange);
    text-align: center;
    font-family: var(--textFont);
    font-size: 1.8rem;
    text-decoration-line: underline;
}




.vacantes{
    z-index: 1;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0;
    gap: 2rem;
}

.vacantes--titulo{
    font-family: var(--tituloFont);
    font-size: 3.2rem;
    margin: 0;
    color: var(--white);
    border-bottom: 4px solid var(--red);
    padding: 0.5rem;
}

.vacantes__gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 7.2rem;
    row-gap: 3rem;
    max-width: 111.8rem;
}

@media (max-width: 970px) {
    .vacantes__gridContainer{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 650px) {
    .vacantes__gridContainer{
        grid-template-columns: 1fr;
    }
}

.v_tarjeta{
    border-radius: 25px;
    border: 5px solid var(--green);
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    gap: 1.5rem;
}

.v_tarjeta:hover{
    cursor: pointer;
    background-color: #3E746B;
}

.v_tarjeta:active{
    background-color: #8AD5C8;
}

.v2{
    border: 5px solid var(--purple);
}

.v2:hover{
    cursor: pointer;
    background-color: #2D356E;
}

.v2:active{
    background-color: #8792E8;
}

.v_tarjeta__cargo{
    text-align: center;
    font-family: var(--subtituloFont);
    color: var(--white);
    font-size: 2.4rem;
    font-weight: bold;
    margin: 0;
}

.v_tarjeta__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info__ubic{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.info__ubic--text{
    font-size: 1.3rem;
    margin: 0;

}

.info__salario{
    font-size: 2rem;
    margin: 0;
}